package omise

{{.Header}}

import (
	"fmt"

	"github.com/fatih/color"
)
{{with .Data}}{{ range $name, $fields := .Fields }}

func (m *{{$name}}) String() string {
	return "" + {{range $fields}}
		"{{.}}=" + fmt.Sprint(m.{{.}}) + " " +{{end}} ""
}{{end}}{{end}}
