package omise

{{.Header}}

import (
	"bytes"
)

{{with .Data}}
// SearchScope can be one of the following constants:
const (
  UnspecifiedScope SearchScope = ""
  {{range .Names}}
  {{.}}Scope SearchScope = "{{toLower .}}"{{end}}
)
{{end}}

{{with .Data}}{{range .Names}}
// {{.}}SearchResult represents search result structure returned by Omise's Search API
// that contains {{.}} struct as result elements.
type {{.}}SearchResult struct {
	SearchResult
	Data []*{{.}} `json:"data"`
}

func (list *{{.}}SearchResult) String() string {
	buf := &bytes.Buffer{}
	for _, item := range list.Data {
		buf.WriteString(item.String() + "\n")
	}
	return buf.String()
}{{end}}{{end}}
