package omise

{{.Header}}

import (
	"fmt"

	"github.com/fatih/color"
)
{{with .Data}}{{ range $name, $fields := .Fields }}

func (m *{{$name}}) String() string {
	return "" + {{range $fields}}
		"{{.}}=" + fmt.Sprint(m.{{.}}) + " " +{{end}} ""
}

func (m *{{$name}}) ColorString() string {
	cyan := color.New(color.FgCyan).SprintFunc()
	_ = cyan
  return "" + {{range $fields}}
		cyan("{{.}}=") + fmt.Sprint(m.{{.}}) + " " +{{end}} ""
}
{{end}}{{end}}
