name: omise-go code-coverage

on:
  push:

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
      WORKDIR: src/github.com/${{ github.repository }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: "1.15"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          path: ${{ env.WORKDIR }}

      - name: Build
        working-directory: ${{ env.WORKDIR }}
        run: .github/scripts/setup.sh

      - name: Generate coverage
        working-directory: ${{ env.WORKDIR }}
        env:
          OMISE_PKEY: pkey_test_xxx
          OMISE_SKEY: skey_test_xxx
        run: .github/scripts/code-coverage.sh
      - name: Check cover.out
        run: |
          echo ${{ env.WORKDIR }}
          cat ${{ env.WORKDIR }}/cover.out
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
