name: omise-go v1

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
      WORKDIR: src/github.com/${{ github.repository }}

    strategy:
      matrix:
        go: [ '1.15' ]

    steps:

    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: ${{ env.WORKDIR }}

    - name: Build
      working-directory: ${{ env.WORKDIR }}
      run: .github/scripts/setup.sh

    - name: Generate coverage
      working-directory: ${{ env.WORKDIR }}
      env:
        OMISE_PKEY: pkey_test_xxx
        OMISE_SKEY: skey_test_xxx
      run: .github/scripts/code-coverage.sh
