name: omise-go code-coverage

on:
  push:

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}
      WORKDIR: src/github.com/${{ github.repository }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: "1.15" # Old Go version needed to run existing test script

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          path: ${{ env.WORKDIR }}

      - name: Build
        working-directory: ${{ env.WORKDIR }}
        run: .github/scripts/setup.sh

      - name: Generate coverage
        working-directory: ${{ env.WORKDIR }}
        env:
          OMISE_PKEY: pkey_test_xxx
          OMISE_SKEY: skey_test_xxx
        run: .github/scripts/code-coverage.sh

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
