name: omise-go v1

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      WORKDIR: src/github.com/${{ github.repository }}

    strategy:
      matrix:
        go: [ '1.21', '1.20', '1.19', '1.18', '1.17' ]

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          path: ${{ env.WORKDIR }}
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54
          working-directory: ${{ env.WORKDIR }}

      - name: Build
        working-directory: ${{ env.WORKDIR }}
        run: .github/scripts/setup.sh

      - name: Test
        working-directory: ${{ env.WORKDIR }}
        env:
          OMISE_PKEY: pkey_test_xxx
          OMISE_SKEY: skey_test_xxx
          GOPATH: ${{ github.workspace }}
        run: .github/scripts/test.sh
